# Config file
.env

scripts
node_modules
docker-compose.yml
Dockerfile
CODEOWNERS
nginx_example.conf
start_gitlab_bot.sh

# Hidden files
.git
.gitignore
.dockerignore
.eslintrc.js
.gitignore
.gitlab-ci.yml
