default:
  image: registry.melroy.org/melroy/docker-images/pnpm:24

  before_script:
    - pnpm install --prefer-offline --prefer-frozen-lockfile

  cache:
    key:
      files:
        - pnpm-lock.yaml
    paths:
      - .pnpm-store

audit:
  stage: test
  script:
    - pnpm audit
  allow_failure: true

lint:
  stage: test
  script:
    - pnpm run lint
