{
    "tabWidth": 2,
    "printWidth": 200,
    "useTabs": false,
    "trailingComma": "none",
    "semi": false,
    "singleQuote": true,
    "bracketSpacing": true,
    "arrowParens": "always",
    "insertPragma": false,
    "bracketSameLine": true,
    "proseWrap": "always"
}
  