# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit lbrycrd.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/lbry/lbry.conf, but keep in mind those explicitly
# specified as arguments in ExecStart= will override those in the
# config file.

[Unit]
Description=LBRY Core daemon
After=network.target

[Service]
ExecStart=/usr/bin/lbrycrdd -pid=/run/lbrycrd/lbrycrd.pid \
                            -conf=/etc/lbry/lbryd.conf \
                            -datadir=/var/lib/lbrycrd

# Make sure the config directory is readable by the service user
PermissionsStartOnly=true
ExecStartPre=/bin/chgrp lbry /etc/lbry
ExecStartPre=/bin/chgrp lbry /run/lbrycrd
ExecStartPre=/bin/chgrp lbry /var/lib/lbrycrd

# Process management
####################

Type=forking
PIDFile=/run/lbrycrd/lbrycrd.pid
Restart=on-failure

# Directory creation and permissions
####################################

# Run as lbry:lbry
User=lbry
Group=lbry

# /run/lbrycrd
RuntimeDirectory=lbrycrd
RuntimeDirectoryMode=0710

# /etc/lbry
ConfigurationDirectory=lbry
ConfigurationDirectoryMode=0710

# /var/lib/lbrycrd
StateDirectory=lbrycrd
StateDirectoryMode=0710

# Hardening measures
####################

# Provide a private /tmp and /var/tmp.
PrivateTmp=true

# Mount /usr, /boot/ and /etc read-only for the process.
ProtectSystem=full

# Deny access to /home, /root and /run/user
ProtectHome=true

# Disallow the process and all of its children to gain
# new privileges through execve().
NoNewPrivileges=true

# Use a new /dev namespace only populated with API pseudo devices
# such as /dev/null, /dev/zero and /dev/random.
PrivateDevices=true

# Deny the creation of writable and executable memory mappings.
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
